<div>
  <h1>Timers</h1>
  <app-timer (onComplete)="logCountdownEnd()" init="3"></app-timer>
  <app-timer init="43"></app-timer>
  <app-timer init="123"></app-timer>

  <button class="add" (click)="showAddTimer()">+</button>
  <app-alert-view [hidden]="!isAddTimerVisible" >
    <div class="header" header>Add new timer</div>
    <label>Set the number of seconds for your timer</label>
    <input [(ngModel)]="time" type="number">
    <button (click)="hideAddTimer()" class="cancel-button">Cancel</button>
    <button (click)="hideAddTimer()" >Ok</button>
  </app-alert-view>
</div>